# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment files with secrets (keep .env.example if you add one)
.env.local
.env.secrets


# personal data
data/kubeconfigs/k3d-mycluster.yaml